<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIfLdDEdDiOnAa5DxA215R6jAJg8wEFW4</string>
	<key>GCM_SENDER_ID</key>
	<string>895226357293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rcFlGopoolar</string>
	<key>PROJECT_ID</key>
	<string>chaplifti-65288</string>
	<key>STORAGE_BUCKET</key>
	<string>chaplifti-65288.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895226357293:ios:55f3565f04bec849bcbaa4</string>
</dict>
</plist>